.pio
.vscode
build
dist
zbs_flasher.spec
flash.bin
info.bin
mac_backups
custom-firmware/UART_SEGMENT_EPD/board.asm
custom-firmware/UART_SEGMENT_EPD/board.asm
custom-firmware/UART_SEGMENT_EPD/board.lst
custom-firmware/UART_SEGMENT_EPD/board.rel
custom-firmware/UART_SEGMENT_EPD/board.rst
custom-firmware/UART_SEGMENT_EPD/board.sym
custom-firmware/UART_SEGMENT_EPD/flash.asm
custom-firmware/UART_SEGMENT_EPD/flash.lst
custom-firmware/UART_SEGMENT_EPD/flash.rel
custom-firmware/UART_SEGMENT_EPD/flash.rst
custom-firmware/UART_SEGMENT_EPD/flash.sym
custom-firmware/UART_SEGMENT_EPD/main.asm
custom-firmware/UART_SEGMENT_EPD/main.ihx
custom-firmware/UART_SEGMENT_EPD/main.lk
custom-firmware/UART_SEGMENT_EPD/main.lst
custom-firmware/UART_SEGMENT_EPD/main.map
custom-firmware/UART_SEGMENT_EPD/main.mem
custom-firmware/UART_SEGMENT_EPD/main.rel
custom-firmware/UART_SEGMENT_EPD/main.rst
custom-firmware/UART_SEGMENT_EPD/main.sym
custom-firmware/UART_SEGMENT_EPD/screenSegmented.asm
custom-firmware/UART_SEGMENT_EPD/screenSegmented.lst
custom-firmware/UART_SEGMENT_EPD/screenSegmented.rel
custom-firmware/UART_SEGMENT_EPD/screenSegmented.rst
custom-firmware/UART_SEGMENT_EPD/screenSegmented.sym
custom-firmware/UART_SEGMENT_EPD/sleep.asm
custom-firmware/UART_SEGMENT_EPD/sleep.lst
custom-firmware/UART_SEGMENT_EPD/sleep.rel
custom-firmware/UART_SEGMENT_EPD/sleep.rst
custom-firmware/UART_SEGMENT_EPD/sleep.sym
custom-firmware/UART_SEGMENT_EPD/spi.asm
custom-firmware/UART_SEGMENT_EPD/spi.lst
custom-firmware/UART_SEGMENT_EPD/spi.rel
custom-firmware/UART_SEGMENT_EPD/spi.rst
custom-firmware/UART_SEGMENT_EPD/spi.sym
custom-firmware/UART_SEGMENT_EPD/timer.asm
custom-firmware/UART_SEGMENT_EPD/timer.lst
custom-firmware/UART_SEGMENT_EPD/timer.rel
custom-firmware/UART_SEGMENT_EPD/timer.rst
custom-firmware/UART_SEGMENT_EPD/timer.sym
custom-firmware/UART_SEGMENT_EPD/wdt.asm
custom-firmware/UART_SEGMENT_EPD/wdt.lst
custom-firmware/UART_SEGMENT_EPD/wdt.rel
custom-firmware/UART_SEGMENT_EPD/wdt.rst
custom-firmware/UART_SEGMENT_EPD/wdt.sym
custom-firmware/UART_SEGMENT_EPD/main.bin
custom-firmware/UART_SEGMENT_EPD/main.bin
